/* gloabl styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Azeret Mono", monospace;
  font-size: 16px;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

p {
  color: #0d1321;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}

/* common  */

.section-title {
  margin-bottom: 24px;
  color: #0d1321;
  font-size: 32px;
  font-weight: 800;
}

/* containers  */

.container,
.container-lg,
.container-md {
  margin: 0 auto;
}

.container {
  max-width: 1140px;
}

.container-md {
  max-width: 850px;
}

.container-lg {
  max-width: 940px;
}

/* button styles  */

.btn-fill {
  padding: 21px 24px;
  border-radius: 8px;
  color: white;
  background-color: #0d1321;
}

.btn-fill,
.btn-outline,
.btn-outline-sm {
  font-size: 20px;
  font-weight: 600;
}

.btn-outline,
.btn-outline-sm {
  color: #0d1321;
  border: 1px solid #0d1321;
  opacity: 0.8;
}

.btn-outline {
  background-color: transparent;
  padding: 17px 24px;
  border-radius: 8px;
}

.btn-outline-sm {
  padding: 10px 20px;
}

.btn-underline {
  color: #0d1321;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}

/* navbar  */

.navbar {
  padding-top: 38px;
  padding-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 28px;
  font-weight: 800;
}

/* banner  */

.banner {
  padding: 26px 45px;
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.banner-content {
  text-align: center;
}

.banner-image {
  max-width: 240px;
}

.banner-title {
  color: #0d1321;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
}

.banner-text {
  margin-top: 24px;
  margin-bottom: 32px;
}

/* reason  */

.reason {
  padding-top: 154px;
  padding-bottom: 80px;
}

.section-text {
  margin-bottom: 48px;
  text-align: center;
}

/* coding  */

.learn-coding {
  padding-top: 58px;
  padding-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.learn-coding-content {
  max-width: 410px;
}

.learn-coding-title {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.learn-coding-text {
  margin-top: 16px;
  margin-bottom: 32px;
}

/* coding help */

.coding-help {
  padding: 149px 0;
  justify-content: flex-start;
  gap: 48px;
}

.coding-help-content {
  max-width: 477px;
}

/* inspiration  */

.inspiration {
  padding: 90px 0;
}

.inspiration-section-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 852px;
}

.video-wrapper {
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.2);
}

.video {
  border-radius: 16px;
}

/* target  */

.target {
  padding-top: 90px;
  padding-bottom: 55px;
}

.target-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.target-item {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}

.css {
  background: rgba(0, 76, 232, 0.05);
}

.js {
  background: rgba(255, 223, 0, 0.05);
}

.target-icon {
  width: 56px;
  height: 56px;
}

.target-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}

/* next-target */

.next-target {
  padding-top: 55px;
  padding-bottom: 49px;
}

.next-target-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.next-target-item {
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.15);
}

.content-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.next-target-image {
  width: 108px;
}

/* support */

.support {
  padding-bottom: 80px;
}

.support-wrap {
  padding: 64px 48px;
}

.support-wrap {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url(../assets/handshake.jpg) lightgray 50% / cover no-repeat;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.support-text,
.support-title {
  color: white;
}

.support-text-wrapper {
  margin: 0;
}

.support-form {
  margin-top: 24px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 16px;
}

.support-input {
  padding: 19px 20px;
  width: 548px;
  border-radius: 8px;
  border-radius: 8px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  color: rgba(13, 19, 33, 0.4);
  font-family: "Azeret Mono";
  font-size: 16px;
}

.support-btn {
  padding: 20px 17px;
  border-radius: 8px;
  border: none;
  background-color: white;
  color: #0d1321;
  font-size: 20px;
  font-weight: 600;
}

footer {
  padding: 32px 0;
  background: rgba(13, 19, 33, 0.03);
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-copyright {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 1;
}
